img {
    width: 50px;
    vertical-align: middle;
    margin: 5px;
}

.ResumeBlock {
    text-align: center;
    width: 80%;
    margin: 15px;
    padding: 1px 8px;
    border-radius: 8px;
    background-color: rgba(7, 18, 50, 0.6);
    color:rgb(196, 213, 207);
    font-weight: 300;
    font-size: 1.2em;
    line-height: 2em;
}

li {
    list-style-type: none;
    margin: 10px 0;
}


.blockTitle {
    display: flex;
    align-items: center;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    line-height: 1.5em;
    border-radius: 5px;
    background-color: rgba(7, 18, 50, 0.6);
}


@media screen and (max-width: 800px) {
    .ResumeBlock {
        width: 95%;
        margin: 5px;
        font-size: 1em;
        line-height: 1.5em;
    }
    
}