.ResumeBlock {
    text-align: center;
    width: 80%;
    margin: 15px;
    padding: 1px 8px;
    border-radius: 8px;
    background-color: rgba(7, 18, 50, 0.6);
    color:rgb(196, 213, 207);
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-image: url("../../../Assets/planet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}