.wrapper {
    text-align: center;
    height: 100%;
}

.imageBlock {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 40px;
}

.notFoundImage {
    width: 200px;
    padding: 20px 40px
}

.textBlock {
    color: rgb(190, 179, 164);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 660px) {
    .notFoundImage {
        width: 100px;
        padding: 10px 15px
    }
}