.contactImage {
    width: 50px;
    height: 50px;
    margin: 5px 30px;
}

.contactContainer {
    width: 450px;
    margin: 10px;
    border: 3.5px solid #22223b;
    background-color: #4a4e69;
    display: flex;
    align-items: center;
}