.Main {
    background-color: #152728;
    background-image: url("../../../Assets/leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    font-size: 1.05em;
    grid-area: main;
    text-align: center;
    color: #c8c4c0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.Main > p {
    margin: 20px 0;
}

.MainContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.MainSkills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: rgba(42, 78, 80, 0.5);
    margin: 10px;
    padding: 10px 20px;
    line-height: 2em;
}

.name {
    font-size: 1.5em;
    color: #dbedbb;
    margin: 18px;
}

h3 {
    font-weight: normal;
}


li {
    text-align: left;
    padding: 4px;
    word-spacing: 2px;
}

.typewriter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #f8ffec;
}

.typewriter>div {
    color: #c6d7a7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 31, 14, 0.6);
    border-radius: 5px;
    display: inline;
}


/* glich title block */
.glitch{
    display: inline;
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    color: #b2ff9e;
    text-shadow:
    0.025em 0 0 rgba(175,252,65,0.7),
    -0.025em -0.05em 0 rgba(42,114,33,0.7),
    0.025em 0.05em 0 rgba(76,149,108,0.7);
    
    animation: glitch 1000ms infinite;
}

.glitch > span {
    position: absolute;
    top: 25%;
    left: 0;
}
.glitch span:first-child {
    animation: glitch 650ms infinite;

    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.025em);
    opacity: 0.7;
}
.glitch span:last-child {
    animation: glitch 400ms infinite;
    z-index: 1;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.025em, 0.025em);
    opacity: 0.7;
}

@keyframes glitch {
    0% {
        text-shadow:
            0.025em 0 0 rgba(175, 252, 65, 0.7),
            -0.025em -0.05em 0 rgba(42, 114, 33, 0.7),
            0.025em 0.05em 0 rgba(76, 149, 108, 0.7);
    }
    14% {
        text-shadow:
            0.025em 0 0 rgba(175, 252, 65, 0.7),
            -0.025em -0.05em 0 rgba(42, 114, 33, 0.7),
            0.025em 0.05em 0 rgba(76, 149, 108, 0.7);
    }
    15% {
        text-shadow:
            -0.05em -0.025em 0 rgba(175, 252, 65, 0.7),
            0.025em 0.025em 0 rgba(42, 114, 33, 0.7),
            -0.05em -0.05em 0 rgba(76, 149, 108, 0.7);
    }
    49% {
        text-shadow:
            -0.05em -0.025em 0 rgba(175, 252, 65, 0.7),
            0.025em 0.025em 0 rgba(42, 114, 33, 0.7),
            -0.05em -0.05em 0 rgba(76, 149, 108, 0.7);
    }
    50% {
        text-shadow:
            0.025em 0.05em 0 rgba(175, 252, 65, 0.7),
            0.05em 0 0 rgba(42, 114, 33, 0.7),
            0 -0.05em 0 rgba(76, 149, 108, 0.7);
    }
    99% {
        text-shadow:
            0.025em 0.05em 0 rgba(175, 252, 65, 0.7),
            0.05em 0 0 rgba(42, 114, 33, 0.7),
            0 -0.05em 0 rgba(76, 149, 108, 0.7);
    }
    100% {
        text-shadow:
            -0.025em 0 0 rgba(175, 252, 65, 0.7),
            -0.025em -0.025em 0 rgba(42, 114, 33, 0.7),
            -0.025em -0.05em 0 rgba(76, 149, 108, 0.7);
    }
}
@media screen and (max-width: 800px) {

    .MainContainer {
        flex-direction: column;
    }

    .typewriter, h2 {
        font-size: 1.2em;
    }

    .glitch {
        font-size: 1.8rem;
    } 

    .glitch > span {
        top: 10%;
    }

}
@media screen and (max-width: 500px) {

    .MainSkills {
        line-height: 1.5em;
        padding: 2px;
    }

    .glitch {
        font-size: 1.2rem;
    } 

    .glitch > span {
        top: -5%;
    }

    .typewriter, .name {
        font-size: 1em;
    }

}

@media screen and (max-width: 350px) {

    .glitch, .name, .typewriter {
        font-size: 0.8rem;
    } 

    .glitch > span {
        top: -40%;
    }

    h2, h3, li {
        font-size: 0.8em;
    }
}

/* for people that prefer to turn off the animations */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }