.Contact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    color: rgb(253, 236, 216);
    text-align: center;
    height: 100%;
    background-image: url("../../../Assets/it.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 5px;
}

.ContactBlocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: flex-start;
}

.ContactInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    text-align: center;
    line-height: 5em;
}

@media screen and (max-width: 800px) {
    .Contact {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .ContactInfo {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 500px) {
    .ContactInfo {       
        line-height: 3em;
    }
}