.Contact {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: rgb(253, 236, 216);
    text-align: center;
}

.ContactBlocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ContactInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .Contact {
        flex-direction: column;
    }
}