.sideBarImage {
    width: 100px;
}

.sideBarButton {
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid #001e2f;
    border-radius: 4px;
    background-color: #003554;
    cursor: pointer;
    margin: 10px 5px;
}

.buttonDiscription {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    letter-spacing: 2px;
    margin: auto;
    transition: opacity 0.25s;
    font-size: 1.4em;
}

.buttonDiscription:hover {
    opacity: 1
}

@media screen and (max-width: 1200px) {
    .sideBarImage {
        width: 80px;
    }
}

@media screen and (max-width: 800px) {
    .sideBarImage {
        width: 50px;
    }

    .sideBarButton {
        margin: 3px;
    }

    .buttonDiscription {
        letter-spacing: 1px;
        font-size: 1em;
    }

}