.sideBarImage {
    width: 40px;
    vertical-align: middle;
}

.sideBarButton {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #00141f;
    border-radius: 4px;
    background-color: #01253a;
    cursor: pointer;
    margin: 2px 0;
}

.buttonDiscription {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #dfdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    letter-spacing: 1px;
    font-weight: 100;
    margin: auto;
    transition: opacity 0.2s ease-in-out;
    font-size: 0.9em;
}

.buttonDiscription:hover {
    opacity: 1
}

@media screen and (max-width: 400px) {

    .sideBarImage {
        width: 25px;
    }

    .buttonDiscription {
        letter-spacing: 1px;
        font-size: 0.6em;
    }

}