.diplomaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(253, 236, 216);
    height: 100%;
    width: 100%;
    background-color: #1d0d0d;
    border-radius: 5px;
}

.placeholderRatio {
    position: relative;
    width: 100%;
}

.placeholderRatio::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 64%;
}

.diplomaImageContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    max-width: 1200px;
    width: 95%;
    padding-bottom: 64%;
}

.diplomaImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.8;
    /*  */
    width: 100%;
    object-fit: scale-down;
}
.diplomaBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 0;
}

.diplomaBlock > div {
    color: #faa792;
    padding: 10px;
    background-color: rgba(114, 0, 38, 0.7);
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
}

.diplomaBlock > div:hover {
    filter:brightness(1.2);
}

@media screen and (max-width: 800px) {
    .diplomaBlock > div {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 500px) {

    .diplomaImageContainer {
        height: 100%;
    }

    .diplomaBlock {
        height: auto;
    }

    .diplomaBlock > div {
        width: 60px;
        padding: 5px;      
        font-size: 0.7em;
    }
}
