.diplomaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(253, 236, 216);
    height: 100%;
}

.diplomaImageContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10px;
    max-width: 1200px;
}

.diplomaImage {
    width: 100%;
    margin-bottom: 15px;
    object-fit: scale-down;
}
.diplomaBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 0;
}

.diplomaBlock > div {
    color: #faa792;
    padding: 10px;
    background-color: rgba(114, 0, 38, 0.7);
    border-radius: 5px;
    font-size: 1.2em;
}

.diplomaBlock > div:hover {
    filter:brightness(1.2);
}

@media screen and (max-width: 800px) {
    .diplomaBlock > div {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1050px) {
    .diplomaImage {
        padding-bottom: 64%;
    }
}

@media screen and (max-width: 500px) {

    .diplomaBlock {
        height: auto;
    }

    .diplomaBlock > div {
        height: 70px;
        width: 90px;
        padding: 0 5px;
        text-align: center;
        font-size: 0.6em;
    }
}

@media screen and (max-width: 500px) {

    .diplomaImageContainer {
        height: 100%;
    }
}
