.ProjectsContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: url("../../../Assets/coding.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
}


@media screen and (max-width: 1200px) {
    .ProjectsContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}