.headerHome {
    grid-area: headerHome;
    display: flex;
    justify-content: center;
    background-color: #2f3e46;
}

.headerNav {
    grid-area: headerNav;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #2f3e46;
}
.homeButton {
    width: 100px;
    margin: 10px;
    cursor: pointer;
}

.homeButton:hover {
transform: scale(1.05)
}

.navButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}