.headerHome {
    grid-area: headerHome;
    display: flex;
    justify-content: center;
    background-color: #2f3e46;
}

.headerNav {
    grid-area: headerNav;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #2f3e46;
}
.homeButton {
    width: 100px;
    margin: 5px;
    cursor: pointer;
}

.homeButton:hover {
transform: scale(1.05)
}


/* THIS IS BUTTON SECTION */ 
.navBarButton, .navBarButtonActive {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    cursor: pointer;
}

.navBarButtonActive {
    border: 4px solid #484896;
    background-color: #838ab0;
    border-radius: 10px;
}

.navBarButton {
    border: 4px solid #22223b;
    background-color: #42465d;
    border-radius: 10px;
}

.navBarImage {
    width: 50px;
    margin: 3px;
}

.navBarButtonDescription {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    opacity: 0;
    margin: 0 auto;
    transition: opacity 0.25s;
    font-size: 1.2em;
}

.navBarButtonDescription:hover {
    opacity: 1
}


@media screen and (max-width: 800px) {

    .homeButtonBox {
        display: flex;
        align-items: center;
    }

    .homeButton {
        width: 50px;
        margin: 2.5px;
    }

    .navBarButton, .navBarButtonActive {
        margin: 3px;
        width: 60px;
    }


    .navBarImage {
        width: 40px;
        margin: 1.5px;
    }
    
    .navBarButtonDescription {
        letter-spacing: 1px;
        font-size: 0.95em;
    }
}