
.headerHome {
    grid-area: headerHome;
    display: flex;
    justify-content: center;
    background-color: #2f3e46;
}

.headerNav {
    grid-area: headerNav;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #2f3e46;
}
.homeButton {
    width: 80px;
    margin: 5px;
    cursor: pointer;
}

.homeButton:hover {
transform: scale(1.05);
filter:brightness(1.2)
}

/* THIS IS BUTTON SECTION */ 

.activeLink {  
    border: 2px solid #484896;
    background-color: #838ab0;
}

.regularLink {
    border: 2px solid #22223b;
    background-color: #42465d;
}

.regularLink, .activeLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
}

.navBarImage {
    width: 50px;
    margin: 3px;
}

.navBarImage:hover, .activeLink:hover, .regularLink:hover {
    filter:brightness(1.2)
}

.navBarImageDescription {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    opacity: 0;
    margin: 0 auto;
    transition: opacity 0.25s;
    font-size: 1em;
    border-radius: 8px;
}

.navBarImageDescription:hover {
    opacity: 1
}


@media screen and (max-width: 800px) {

    .homeButtonBox {
        display: flex;
        align-items: center;
    }

    .homeButton {
        width: 50px;
        margin: 2.5px;
    }

    .regularLink, .activeLink {
        margin: 1px;
        width: 45px;
    }


    .navBarImage {
        width: 35px;
        margin: 1.5px;
    }
    
    .navBarImageDescription {
        letter-spacing: 0.8px;
        font-size: 0.65em;
    }
}