.slider {
    width:100%;
    background-color: #292331;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    height: 100%;    
}

.screenshot {
    vertical-align: middle;
    width: 90%;
    border-radius: 5px;
    object-fit:scale-down;
    max-height: 550px;   
}

.rightButton {
    right: 10px;
}

.leftButton, .backLink {
    left: 10px;
}

.leftButton, .rightButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    top: 100px;
    position: absolute;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
    opacity: 40%
}


.backLink {
    position: absolute;
    top: 20px;
    z-index: 5;
}


.activeSlide {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.02);
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.slide {
    opacity: 0;
    transition: 1s ease;
}

.buttonImage {
    width: 80px;
    height: 80px;
}


.buttonImage:hover {
    filter:brightness(1.2)
}

@media screen and (max-width: 1230px) {
    .buttonImage {
        width: 50px;
        height: 50px;
    }    
    .leftButton, .rightButton {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 660px) {

    .buttonImage {
        width: 35px;
        height: 35px;
    }    
    .leftButton, .rightButton{
        width: 35px;
        height: 35px;
        top: 55px;
    }

    .backLink {
        top: 15px;
    }

    .activeSlide {
        height: 90%;
        max-height: 350px;
    }

}
