.slider {
    min-width: 550px;
    border: 5px solid #502f4c;
    background-color: #c8b8db;
    position: relative;
    margin-bottom: 10px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenshot {
    max-height: 500px;
    max-width: 500px;
    border-radius: 10px;
    object-fit: scale-down;    
}

.rightButton {
    right: 8px;
}

.leftButton {
    left: 8px;
}

.leftButton, .rightButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 93%;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
    opacity: 60%
}

.activeSlide {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.02);
}

.slide {
    opacity: 0;
    transition: 1s ease;
}

.buttonImage {
    width: 35px;
    height: 35px;
}


.buttonImage:hover {
    filter:brightness(1.2)
}

@media screen and (max-width: 900px) {

    .slider {
        min-width: 400px;
        border: 2px solid #502f4c;
        
    }
    
    .screenshot {
        max-width: 300px;
    }


}

@media screen and (max-width: 600px) {

    .slider {
        min-width: 225px;
        height: 200px;
    }
    
    .screenshot {
        max-width: 200px;
        height: 175px;
    }

    .leftButton, .rightButton {
        top: 85%;
        width: 22px;
        height: 22px;
    }
    .buttonImage {
        width: 22px;
        height: 22px;
    }

    .rightButton {
        right: 4px;
    }
    
    .leftButton {
        left: 4px;
    }

}

@media screen and (max-height: 400px) {

    .slider {
        height: 200px;
    }
    
    .screenshot {
        height: 175px;
    }

    .leftButton, .rightButton {
        top: 85%;
        width: 22px;
        height: 22px;
    }

    .buttonImage {
        width: 22px;
        height: 22px;
    }

    .rightButton {
        right: 4px;
    }
    
    .leftButton {
        left: 4px;
    }



}

@media screen and (max-height: 660px) {

    .slider {
        max-height: 400px;
    }
    
    .screenshot {
        max-height: 300px;
    }

}
