.projectContainer {
    margin: 0;
    padding: 0 150px;
    background-color: #858ae3;
    border: 4px #613dc1 solid;
    text-align: center;
    color: rgb(217, 224, 230);
}

.dropdownElement {
    position: relative;
}

.dropdownContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.projectTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gitHubButton {
    width: 40px;
    height: 40px;
    background-color: #4e4662;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.gitHubButton:hover {
    filter: brightness(1.3)
}

.gitHubImage {
    width: 30px;
}

.dropdownMenu {
    position: absolute;
    left: 0;
    top: calc(100% + 0.3rem);
    background-color: #7478c0;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0,  .2);
    opacity: 0;
    z-index: 3;
}

.dropdownElement > .dropdownButton:hover + .dropdownMenu {
    opacity: 1;
}


.dropdownMenuContainer {
    background-color: #6b6fb2;
    width: 300px;
    display: flex;
    gap: 100px;
    padding: 0 20px;
    justify-content: flex-start;
    align-items: center;
    margin: 2px;
    border-radius: 2px;
    color: rgb(219, 227, 234);    
}

.skillsPic {
    width: 40px;
}

span {
    line-height: 30px;
}

.dropdownButton {
    width: 120px;
    height: 50px;
    font-size: 1.1em;
    background-color: #6b6fb2;
    border: 1px #5e619b solid;
    border-radius: 2px;
    padding: 10px;
    margin: 4px;
    color: rgb(219, 227, 234);
    letter-spacing: 1px; 
}







