.App {
    min-height: 100vh;
    background-color: rgb(33, 33, 33);
    display: grid;
    grid-template-columns: 0.12fr 1.2fr;
    grid-template-rows: 0.2fr 6fr 0.2fr;
    grid-template-areas:
    "headerHome headerNav"
    "sidebar main"
    "footer footer" ;
    grid-gap: 0.15rem;
}

.content {
    background-color: #023047;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}