.App {
    background-color: rgb(33, 33, 33);
    display: grid;
    grid-template-columns: 0.2fr 1.2fr;
    grid-template-rows: 0.2fr 6fr 0.2fr;
    grid-template-areas:
    "headerHome headerNav"
    "sidebar main"
    "footer footer" ;
    grid-gap: 0.3rem;
}

.content {
    background-color: #023047;
    display: flex;
    justify-content: space-evenly;
}