
.navBarButton {
    position: relative;
    border: 3.5px solid #22223b;
    background-color: #4a4e69;
    width: 120px;
    cursor: pointer;
}

.navBarImage {
    width: 50px;
}

.navBarButtonDescription {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0;
    margin: auto;
    transition: opacity 0.25s;
}

.navBarButtonDescription:hover {
    opacity: 1
}