
.navBarButton {
    position: relative;
    border: 2.5px solid #22223b;
    background-color: #42465d;
    width: 120px;
    cursor: pointer;
}

.navBarImage {
    width: 50px;
}


.navBarButtonDescription {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    opacity: 0;
    margin: 0 auto;
    transition: opacity 0.25s;
    font-size: 1.2em;
}

.navBarButtonDescription:hover {
    opacity: 1
}